{% extends 'main.html' %}

{% block content_user %}

<style>
    .form-flex
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .form-flex button
    {
       width: 25%;
       padding: 15px 20px;
       margin-top: 5px;

    }
</style>
<form action="{% url 'change-password' id=user.id%} " class="form-flex" method="post">{% csrf_token %}

    <label for="">Старий пароль:</label>
    <input type="password" name="old_password">
    <label for="">Новий пароль:</label>
    <input type="password" id="new_password_1" name="new_password">
    <label for="">Повторіть пароль:</label>
    <input type="password" id = 'new_password_2' name="new_password_2">
    <button class="change_password">Змінити</button>
</form>
{% if error_old_password %}
    <p class = 'login-error'>{{error_old_password}}</p>
    {% endif %}

  <div class="form-group password_error">
		<span class = 'error'>Паролі не співпадають!</span>
	</div>
<script>
$(document).ready(function(){
$('.password_error').hide();
$('#new_password_2').change(function(){
    $('.password_error').hide();
		var password_one  = $("#new_password_1").val();
		var password_two  = $("#new_password_2").val();

		if(password_one != password_two){
			   $('.password_error').show();
			   $('.change_password').attr('disabled' , 'disabled');
		}
		else{
			$('.password_error').hide();
			$('.change_password').removeAttr('disabled');
		}
	});
})

</script>
{% endblock %}