{% extends 'main.html' %}

{% block content_user %}
<style>
    .form-flex
    {
        display: flex;
        flex-wrap: wrap;
    }
</style>
<form action="{% url 'change-password' id=user.id%} " method="post">{% csrf_token %}

    <label for="">Старий пароль:</label>
    <input type="text" name="old_password">
    <label for="">Новий пароль:</label>
    <input type="text" name="new_password">
    <label for="">Повторіть пароль:</label>
    <input type="text" name="new_password_2">
    <button>Змінити</button>



</form>
{% endblock %}