{% extends 'main.html' %}

{% block content_user %}

<style>
    .form-flex
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 300px;
    }
    .form-flex button
    {
       width: 33%;

       margin-top: 5px;
       margin-left: 0px;
}
     .login-error{
     margin-left: 303px !important;
    margin-top: 10px !important;
    padding: 15px 10px !important;
     }

.login-error1 {
     margin-left: 303px !important;
    margin-top: 10px !important;
    padding: 15px 36px !important;
    color: red;
    border: 1px solid red;
    display: inline-block;
}


</style>
<form action="{% url 'change-password' id=user.id%} " class="form-flex" method="post">{% csrf_token %}


    <input type="password" name="old_password" placeholder="Старий пароль"}>

    <input type="password" id="new_password_1" name="new_password" placeholder="Новий пароль">

    <input type="password" id = 'new_password_2' name="new_password_2" placeholder="Повторіть новий пароль">
    <button class="change_password" type="submit" name="commit">Змінити</button>
</form>
{% if error_old_password %}
    <p class = 'login-error'>{{error_old_password}}</p>
    {% endif %}

  <div class="form-group password_error login-error1">
		<span class = 'error' >Паролі не співпадають!</span>
	</div>
<script>
$(document).ready(function(){
$('.password_error').hide();
$('#new_password_2').change(function(){
    $('.password_error').hide();
		var password_one  = $("#new_password_1").val();
		var password_two  = $("#new_password_2").val();

		if(password_one != password_two){
			   $('.password_error').show();
			   $('.change_password').attr('disabled' , 'disabled');
		}
		else{
			$('.password_error').hide();
			$('.change_password').removeAttr('disabled');
		}
	});
})

</script>

{% endblock %}