{% extends 'main.html' %}

{% block content_user %}
<style>
    .form-flex
    {
        display: flex;
        flex-wrap: wrap;
    }
</style>
<form action="{% url 'update-contact' id=user.id%} " method="post">{% csrf_token %}

        <label for="">Ваш Email</label>
        <input type="text" value="{{user.email}}" name="new_email">
         <label for="">Номер телефона</label>
         <input type="text" name="phone_number" value="{{user.phone_number}}" >
         <button>Змінити</button>


</form>
{% endblock %}