{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
    .p-head {
    background-color: #f5f5f5;
    background-image: url("{% static 'img/rrp-head-bg.png' %}");
    background-repeat: repeat-x;
    height: 180px;


}
.navbar
    {
        display: flex;
        justify-content: center;
    }
   .navbar a
   {
        margin:10px;
   }
*{
margin:0;
padding:0;
}

.container{

}

.container_head img{
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    left: 0 !important;
}

    </style>
</head>
<body>
<div class="p-head">
      <div class="container_head">
        <img src="{% static 'img/rrp-logo-text.png' %}" alt="Державний реєстр речових прав на нерухоме майно">
      </div>
    </div>
<!--<nav class="navbar">-->
    <!--<a href="{% url 'login' %}">login</a>-->
    <!--<a href="{% url 'register' %}">register</a>-->
    <!--<a href="">шото</a>-->
    <!--<a href="">шото</a>-->
    <!--<a href="">шото</a>-->
<!--</nav>-->

{% block user_content %}{% endblock %}

<!--<h1>LKJHG</h1>-->

</body>
</html>