{% extends 'index.html' %}
{% block user_content %}
{%load static %}

<style>
.p-head {
    background-color: #f5f5f5;
    background-image: url("{% static 'img/rrp-head-bg.png' %}");
    background-repeat: repeat-x;
    height: 180px
}


</style>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

 <!--<h4>Державний реєстр майнових прав на нерухоме майно</h4>-->


<section class="container">
    {% block login_user %}
    <div class="login">
        <h1>Вхід до особистого кабінету</h1>
            <form action="{% url 'login' %}" method="post">{% csrf_token %}
                {% for field in login_form %}
                <div class="form-group" id="container">
                    {{field}}
                </div>
                {% endfor %}
                <button class = 'btn-login' type="submit" name="commit">Вхід</button>
            </form>

</div>
            <div class="login-help">
      <p>Ще не зареєстровані? Тоді Вам сюди  <a href="{% url 'register'%}">Реєстрація</a></p>
</div>
    {% endblock %}

    {% if object_does_not_exist %}
    <p class = 'login-error'>{{object_does_not_exist}}</p>
    {% endif %}
  </section>
{% endblock %}
</body>