{% extends 'main.html' %}

{% block content_user %}
<style>
label{
margin-top:5px;
}
.user_form{
margin-left:-10%;
}
.content-user label {
    width: 15%;
    margin-top: 15px;
    text-align: left;
}
.content-user input {
    width: 50%;
    text-align: left;
    height: 40px;
    border: 1px solid #a2a2a2;
    border-radius: 5px;
    margin-left: -300px;
}
p {
    margin-left: 45%;
    margin-bottom: 20px;
    font-size: 16px;
}
.but{
width: 10%;
       margin-left: 500px;
}
</style>
<form action="" class = 'user_form'>
    <div class="content-user">
        <label for="">Ваш логін</label>
        <input type="text" value="{{user.login}}" disabled>
    </div>
     <div class="content-user">
        <label for="">Імя</label>
        <input type="text" value="{{user.first_name}}" disabled>
    </div>
     <div class="content-user">
        <label for="">Прізвище</label>
        <input type="text" value="{{user.second_name}}" disabled>
    </div>
    <div class="content-user">
        <label for="">По-батькові</label>
        <input type="text" value="{{user.middle_name}}" disabled>
    </div>
  
    {% if passport_fields %}
    <div class="content-user">
        <label for="">Номер паспорта</label>
        <input type="text" value="{{user.passport_number}}">
    </div>
    <div class="content-user">
        <label for="">Серія паспорта</label>
        <input type="text" value="{{user.passport_serial}}">
    </div>
    {% endif %}
    {% if user.id_card != '' %}
    <div class="content-user">
        <label for="">id_card</label>
        <input type="text" value="{{user.id_card}}" disabled>
    </div>
    {% endif %}
    <div class="content-user">
        <label for="">ipn</label>
        <input type="text" value="{{user.ipn}}" disabled>
    </div>
</form>
<div class="form-adress user_form">
    <p>Додати адресу</p>
    <form action="{% url 'personal-info' id=user.id%}" method="post">{% csrf_token %}
        {% for field in form_adress %}
        <div class="form-group content-user">
            <label for="">{{field.label}}</label>
            {{field}}
        </div>
        {% endfor %}
        <button type="submit" name="commit" class="but">Додати адресу</button>
    </form>
</div>

{% endblock %}

