{% extends 'index.html' %}
{% block user_content %}
{%load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/style_reg.css' %}">
<style>



@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


.buttons {
  position: absolute;
  top: 52%;
  left: 15%;
  width: 500px;
  height: 260px;
  margin-top: -130px;
  margin-left: -250px;
  text-align: center;
  text-decoration: none;
}

.set:not(:last-child) {
  border-bottom: 1px dotted #aaa;
}

.btn {
  display: inline-block;
  min-width: 110px;
  margin: 15px 5px;
  padding: 10px 15px 12px;
  font: 700 12px/1 'Open Sans', sans-serif;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-decoration: none;
}

.btn.sec {
  color: #777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  background: #fff;
}

.btn.sec:hover {
  background: #f5f5f5;
}

.btn.pri {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.set.black .btn.pri {
  background: #555;
}

.set.black .btn.pri:hover {
  background: #444;
}

.btn.sec.ico,
.btn.pri.ico {
  position: relative;
  padding-left: 40px;
  text-align: left;
}

.btn.sec.ico:before,
.btn.pri.ico:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 30px;
  padding: 10px 0 12px;
  font-family: fontawesome;
  text-align: center;
  border-radius: 3px 0 0 3px;
  background: rgba(0, 0, 0, 0.15);
}

.btn.sec.ico:before {
  background: rgba(0, 0, 0, 0.08);
}

.set.blue .btn.sec.ico:before {
  content: "";
}

.set.green .btn.sec.ico:before {
  content: "";
}

.set.red .btn.sec.ico:before {
  content: "";
}

.set.black .btn.sec.ico:before {
  content: "";
}


</style>

    <section class="container">
        <div class='buttons'>
  <div class='set blue'>
    <a class='btn sec ico' href="/">Назад до Входу</a>
  </div>
</div>
    <div class="login">
 <h1>Державний реєстр майнових прав на нерухоме майно</h1>
    <div class="radio-btn">
        <input type="radio" name="type_person" value="psysical_person" id="psysical_person" checked>Фізична особа
        <input type="radio" name="type_person" value="legal_person" id="legal_person">Юридична особа
    </div>
<form action="{% url 'register' %}" method="post" id='psysical_form'>{% csrf_token %}
   <input type="hidden" name='type_user' value = 'psysical_user'>
    {% for field in register_form_psysical %}
        {% if field.label == 'Id card' %}
            <div class="form-group" id="id_card">

            {{field}}
        </div>
        {% else %}
            <div class="form-group">

            {{field}}
        </div>
        {% endif %}
    {% endfor %}
<div class="radio-btn1">
    <input type="radio" name="type_register" value="passport" id="id_password_radio" checked>Паспорт
    <input type="radio" name="type_register" id ="id_card_radio">Паспорт у вигляді ID-картки
</div>
    <div id="passport_value">
        <div class="form-group" >

            <input type="text" name="passport_number" placeholder='Номер паспорта'>
        </div>
        <div class="form-group">

            <input type="text" name="passport_serial" placeholder='Серія паспорта'>
        </div>
        <div class="form-group">

            <input type="text" name="passport_date" placeholder='Дата видачі'>
        </div>
        <div class="form-group">

            <input type="text" name="passport_publisher" placeholder='Виданий'>
        </div>
	</div>
  <div id="card">
        <div class="form-group">

            <input type="text" name="card" placeholder='Номер паспорт у вигляді ID-картки'>
        </div>
    </div>

{% if error_registration %}
    <div class="form-group">
		<span class = 'error'>{{error_registration}}</span>
	</div>
{% endif %}
	<div class="form-group password_error" id='error'>
		<span class = 'error'>Паролі не співпадають!</span>
	</div>

    <button class = 'btn-login' type="submit" name="commit">Реєстрація</button>
 </form>

    <form action="{% url 'register' %}" method="post" id="legal_form">{% csrf_token %}
        <input type="hidden" name='type_user' value = 'legal_user'>
         {% for field in register_form_legal %}

            <div class="form-group">

            {{field}}
        </div>

    {% endfor %}
    <div class="form-group password_error">
		<span class = 'error'>Паролі не співпадають!</span>
	</div>
     <button class = 'btn-login' type="submit" name="commit">Реєстрація</button>
    </form>
 </div>

         </section>

<script>
$(document).ready(function(){
    var type_radio = document.getElementsByName('type_register');
    $('#card').hide();
    $('#legal_form').hide();

    $('#id_password_radio, #id_card_radio').change(function(){
        if($('#id_password_radio').is(':checked')){
          $('#card').hide();
           $('#passport_value').show();
        }
        else if($('#id_card_radio').is(':checked')){
            $('#card').show();
            $('#passport_value').hide();
        }
        else{
          alert('Error!');
        }
    });
	$('#psysical_person, #legal_person').change(function(){
	if($('#psysical_person').is(':checked')){
	  $('#legal_form').hide();
	   $('#psysical_form').show();
	}
	else if($('#legal_person').is(':checked')){
		$('#legal_form').show();
		$('#psysical_form').hide();
	}
	else{
	  alert('Error!');
	}
});

    function check_password(){
        var password_one  = $("id_password").val();
		alert(password_one);
    }
	
	$('#id_password2').change(function(){
		var password_one  = $("#id_password").val();
		var password_two  = $("#id_password2").val();
		
		if(password_one != password_two){
			   $('#error').removeClass('password_error');
		}
		else{
			 $('#error').addClass('password_error');
		}
	});
		
	$('#id_password_legal2').change(function(){
		var password_one  = $("#id_password_legal").val();
		var password_two  = $("#id_password_legal2").val();
		
		if(password_one != password_two){
			   $('.password_error').show();
		}
		else{
			$('.password_error').hide();
		}
	});
})
</script>
{% endblock %}