{% extends 'index.html' %}
{% block user_content %}
{%load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/style_reg.css' %}">
<style>


</style>

    <section class="container">
    <div class="login">
 <h1>Державний реєстр майнових прав на нерухоме майно</h1>
    <div class="radio-btn">
        <input type="radio" name="type_person" value="psysical_person" id="psysical_person" checked>Фізична особа
        <input type="radio" name="type_person" value="legal_person" id="legal_person">Юридична особа
    </div>
<form action="{% url 'register' %}" method="post" id='psysical_form'>{% csrf_token %}
   <input type="hidden" name='type_user' value = 'psysical_user'>
    {% for field in register_form_psysical %}
        {% if field.label == 'Id card' %}
            <div class="form-group" id="id_card">

            {{field}}
        </div>
        {% else %}
            <div class="form-group">

            {{field}}
        </div>
        {% endif %}
    {% endfor %}
<div class="radio-btn1">
    <input type="radio" name="type_register" value="passport" id="id_password_radio" checked>Паспорт
    <input type="radio" name="type_register" id ="id_card_radio">Паспорт у вигляді ID-картки
</div>
    <div id="passport_value">
        <div class="form-group" >

            <input type="text" name="passport_number" placeholder='Номер паспорта'>
        </div>
        <div class="form-group">

            <input type="text" name="passport_serial" placeholder='Серія паспорта'>
        </div>
        <div class="form-group">

            <input type="text" name="passport_date" placeholder='Дата видачі'>
        </div>
        <div class="form-group">

            <input type="text" name="passport_publisher" placeholder='Виданий'>
        </div>
	</div>
  <div id="card">
        <div class="form-group">

            <input type="text" name="card" placeholder='Номер паспорт у вигляді ID-картки'>
        </div>
    </div>

{% if error_registration %}
    <div class="form-group">
		<span class = 'error'>{{error_registration}}</span>
	</div>
{% endif %}
	<div class="form-group password_error" id='error'>
		<span class = 'error'>Паролі не співпадають!</span>
	</div>

    <button class = 'btn-login' type="submit" name="commit">Реєстрація</button>
 </form>

    <form action="{% url 'register' %}" method="post" id="legal_form">{% csrf_token %}
        <input type="hidden" name='type_user' value = 'legal_user'>
         {% for field in register_form_legal %}

            <div class="form-group">

            {{field}}
        </div>

    {% endfor %}
    <div class="form-group password_error">
		<span class = 'error'>Паролі не співпадають!</span>
	</div>
     <button class = 'btn-login'>Реєстрація</button>
    </form>
 </div>

         </section>

<script>
$(document).ready(function(){
    var type_radio = document.getElementsByName('type_register');
    $('#card').hide();
    $('#legal_form').hide();

    $('#id_password_radio, #id_card_radio').change(function(){
        if($('#id_password_radio').is(':checked')){
          $('#card').hide();
           $('#passport_value').show();
        }
        else if($('#id_card_radio').is(':checked')){
            $('#card').show();
            $('#passport_value').hide();
        }
        else{
          alert('Error!');
        }
    });
	$('#psysical_person, #legal_person').change(function(){
	if($('#psysical_person').is(':checked')){
	  $('#legal_form').hide();
	   $('#psysical_form').show();
	}
	else if($('#legal_person').is(':checked')){
		$('#legal_form').show();
		$('#psysical_form').hide();
	}
	else{
	  alert('Error!');
	}
});

    function check_password(){
        var password_one  = $("id_password").val();
		alert(password_one);
    }
	
	$('#id_password2').change(function(){
		var password_one  = $("#id_password").val();
		var password_two  = $("#id_password2").val();
		
		if(password_one != password_two){
			   $('#error').removeClass('password_error');
		}
		else{
			 $('#error').addClass('password_error');
		}
	});
		
	$('#id_password_legal2').change(function(){
		var password_one  = $("#id_password_legal").val();
		var password_two  = $("#id_password_legal2").val();
		
		if(password_one != password_two){
			   $('.password_error').show();
		}
		else{
			$('.password_error').hide();
		}
	});
})
</script>
{% endblock %}