{% extends 'main.html' %}

{% block content_user %}

<style>

    .document {
        display: flex;
        justify-content: justify-between;
        border-bottom : 2px solid #7063b7;
        margin-bottom: 10px;
    }
     .document .register_number {
            font-size: 16px;
            width : 35%;


     }
     .status
     {
            margin-left: 15px;
            width: 45%;

      }
</style>
{% if  none_document %}
<p>Ви ще не подавали заяв.</p>
{% else %}
{% for elem in user_document %}
<div class="document">
    <p class ='register_number'>Реєстраційний номер <span>{{elem.register_number}}</span></p>
    <p class = 'status'>Стан  <span>{{elem.status}}</span></p>
    <p class = 'status'>Форма власності  <span>{{elem.ownership}}</span></p>
</div>
{% endfor %}
{% endif %}
{% endblock %}