{% extends 'all_document.html' %}

{% block form %}
<style>

    .form-group
{
     display : flex;
      margin-top: 5px;
}
.form-group label
{
    width: 20%;
    text-align : right;
}
.form-group select,
.form-group input
{
     width: 70%;
     margin-left: 15px;
     border-radius: 2px;
     border: 1px solid #e3e3ec;
}
</style>
<form action="{% url 'application_for_cancelation' id=user.id %}" method="post">{% csrf_token %}
{% for field in form %}
<div class="form-group">
    <label for="">
        {{field.label}}
    </label>
    {{field}}

</div>
{% endfor %}
    <button>Подати заяву</button>
    </form>


<script>
$(document).ready(function(){
	$('#add_adress').click(function(e){
		e.preventDefault();
		
	})
	
})
</script>

{% endblock %}