{% extends 'all_document.html' %}

{% block form %}
<style>

    .form-group
{
     display : flex;
      margin-top: 5px;
}
.form-group label
{
    width: 20%;
    text-align : right;
}
.form-group select,
.form-group input
{
     width: 70%;
     margin-left: 15px;
     border-radius: 2px;
     border: 1px solid #e3e3ec;
}
	.show
	{
		display: block !important;
	}
	.hide
	{
		display: none;
	}
	a{
color: #527881;
text-decoration:none;
}
a:hover{
color: #527881;

}
button{
margin-left:20px;
margin-top: 20px;
}
.bl_but{
margin-left:100px;
margin-bottom:20px;
}
.form-group label {

    margin-top: 5px;
    margin-bottom: 5px;
}
</style>
<form action="." method="post">{% csrf_token %}
    <input type="hidden" value="{{user.id}}" name="user_id">
{% for field in form %}
<div class="form-group">
    <label for="">
        {{field.label}}
    </label>
    {{field}}

</div>
{% endfor %}
    <div class="bl_but">
    <button type="submit" >Подати заяву</button>
    <button type="submit" ><a href="#" id ='add_adress'>Додати адресу</a></button>
    </div>
    </form>

<div id="form-adress" class = 'hide'>
    <form action="{% url 'add-address' %}" method="post">{% csrf_token %}
        {% for field in adress_form %}
        <div class="form-group">
            <label for="">{{field.label}}</label>
        {{field}}
        </div>
        {% endfor %}
        <div class="bl_but">
        <button type="submit" >Додати адресу</button>
            </div>
    </form>
</div>


<script>
$(document).ready(function(){
	
	var btn  = document.getElementById('add_adress');
	btn.addEventListener('click' , function(e){
		e.preventDefault();
		console.log(btn.innerHTML);
		if (btn.innerHTML == 'Додати адресу'){
			btn.innerHTML = 'Заховати'
		}
		else if(btn.innerHTML == "Заховати"){
			btn.innerHTML = 'Додати адресу';
		}
		
		$('#form-adress').toggleClass('show');
	})
	
})
</script>

{% endblock %}